<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links)">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title th:replace="${title}">Title</title>
    <link rel="stylesheet" th:href="@{plugin/fontawesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/app.css}"/>
    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}" />
</head>
<body>

<div th:fragment="common_script">
    <script th:src="@{webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{webjars/popper.js/1.13.0/dist/umd/popper.min.js}"></script>
    <script th:src="@{webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <script th:src="@{webjars/vue/2.5.13/vue.min.js}"></script>
    <script th:src="@{js/app.min.js}"></script>
</div>
</body>
</html>